<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Rust Editor"
            extensions="rs"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.rustyclipse.ui.editors.RustEditor"
            id="org.rustyclipse.ui.editors.RustEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rustyclipse.ui.RustPerspectiveFactory"
            icon="icons/rust-icon.gif"
            id="rustyclipse.rustperspective"
            name="Rust">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="rustyclipse.rustperspective">
         <view
               id="rustyclipse.consoleview"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.RustConsoleView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.rustyclipse.ui.preferences"
            id="rustyclipse.rustpreferences"
            name="Rust Preferences">
      </page>
      <page
            class="org.rustyclipse.ui.preferences.CargoPreferences"
            id="org.rustyclipse.ui.preferences.cargopreferences"
            name="Cargo Preferences">
      </page>
   </extension>

</plugin>
