<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Rust Editor"
            extensions="rs"
            icon="icons/rust-icon.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.rustyclipse.ui.editors.RustEditor"
            id="org.rustyclipse.ui.editors.RustEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rustyclipse.ui.RustPerspectiveFactory"
            icon="icons/rust-icon.gif"
            id="rustyclipse.rustperspective"
            name="Rust">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="rustyclipse.rustperspective">
         <view
               id="rustyclipse.consoleview"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.RustConsoleView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.rustyclipse.ui.preferences.RustIDEPreferences"
            id="rustyclipse.rustpreferences"
            name="Rust">
      </page>
      <page
            category="rustyclipse.rustpreferences"
            class="org.rustyclipse.ui.preferences.RustPreferences"
            id="rustyclipse.rustpreferences"
            name="Rust Preferences">
      </page>
      <page
            category="rustyclipse.rustpreferences"
            class="org.rustyclipse.ui.preferences.CargoPreferences"
            id="rustyclipse.cargopreferences"
            name="Cargo Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="rustyclipse.rustcategory"
            name="Rust">
      </category>
      <wizard
            category="rustyclipse.rustcategory"
            class="org.rustyclipse.ui.wizards.NewRustFileWizard"
            finalPerspective="rustyclipse.rustperspective"
            icon="icons/rust-icon.gif"
            id="rustyclipse.newrsfile"
            name="New Rust File">
      </wizard>
   </extension>
   <extension
         id="sampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="true"
            supportsConfigurations="true">
         <run
               class="org.rustyclipse.RustBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.rustyclipse.RustProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.rustyclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
